#resources
{
	z-index: 1;
	float: right;
	margin-right: 1.6%;
	
	text-align: center;
	color: white;

	font-family: arial, sans-serif;
	font-size: 13px;
}

div.compiled, iframe
{
	width: 40%;
	height: 300px;
	max-width: 100%;
	
	margin: auto;
	display: block;
	resize: both;
	overflow: auto;
	
	box-sizing: border-box;
}

table
{
	color: black;
	border-collapse: collapse;
	width: 100%;
}

th, td
{
	text-align: center; /* center */
	padding: 8px;
}

/*
tr
{
	text-overflow: ellipsis;
}
*/

tr:nth-child(even)
{
	background-color: #F2F2F2;
}

tr:nth-child(odd)
{
	background-color: white;
}

th
{
	background-color: #4CAF50;
	color: white;
}

textarea
{
	margin: auto;
    resize: both; /* resize: vertical; */
    max-width: 100%;
	max-height: 100%;

	color: black;
    background-color: white;

	width: 100%;
	height: 200px;

	box-sizing: border-box;
}

textarea.debug
{
	height: 150px;
}

textarea.small
{
	width: 80%;
	height: 200px;
}

div.splitter
{
	margin: 8px;
    background-color: black;
    border: 4px dashed #990000; /* #73AD21 */
	height: 0px;
}

.info
{
	color: #4CAF50;
	font-style: italic;
}

.info:hover
{
	color: #6BE600;
	cursor: help;
}

.removalElement
{

}

.mouseClick
{
	cursor: pointer;
}

/*
	Custom add-file button (Hack):
*/

.masked-upload-container
{
	background: url("images/add_file.png") no-repeat;
	width: 16px;
	height: 16px;
}

.masked-upload-container input
{
	width: 16px;
	height: 16px;
	overflow: hidden;
	filter: alpha(opacity=0);
	opacity: 0;
}